
body {
  background: #232840;
  color:#232840;
}

button {
  background: transparent;
  border: none;
  color:  #232840;
  font-size: 30px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.chip {
  width: 500px;
  background: rgba(255, 250, 245, 0.5);
  padding: 50px;
  position: relative;
  top: 80px;
  margin: 0 auto;
  border-radius: 4px;
}
.video {
  background-size: cover;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.display-3,
h3,
h4,
h6,
button {
  font-family: 'Montserrat', sans-serif;
}

#weather-icon,
#btnFahrenheit {
  color: #2d314a;
}

#description {
  position: relative;
  top: -15px;
  left: 20px;
}

#otherDetails {
  margin-top: 20px;
  color: #2d314a;
}

